# latex ignores
manuals/latex_en/dj_install_en/*.aux
manuals/latex_en/dj_install_en/*.log
manuals/latex_en/dj_install_en/*.fdb_latexmk
manuals/latex_en/dj_install_en/*.fls
manuals/latex_en/dj_install_en/*.synctex.gz

manuals/latex_en/dj_install_pa_en/*.aux
manuals/latex_en/dj_install_pa_en/*.log
manuals/latex_en/dj_install_pa_en/*.fdb_latexmk
manuals/latex_en/dj_install_pa_en/*.fls
manuals/latex_en/dj_install_pa_en/*.synctex.gz

manuals/latex_en/py_install_en/*.aux
manuals/latex_en/py_install_en/*.log
manuals/latex_en/py_install_en/*.fdb_latexmk
manuals/latex_en/py_install_en/*.fls
manuals/latex_en/py_install_en/*.synctex.gz

manuals/latex_ru/dj_install_ru/*.aux
manuals/latex_ru/dj_install_ru/*.log
manuals/latex_ru/dj_install_ru/*.fdb_latexmk
manuals/latex_ru/dj_install_ru/*.fls
manuals/latex_ru/dj_install_ru/*.synctex.gz

manuals/latex_ru/dj_install_pa_ru/*.aux
manuals/latex_ru/dj_install_pa_ru/*.log
manuals/latex_ru/dj_install_pa_ru/*.fdb_latexmk
manuals/latex_ru/dj_install_pa_ru/*.fls
manuals/latex_ru/dj_install_pa_ru/*.synctex.gz
manuals/latex_ru/dj_install_pa_ru/*.toc

manuals/latex_ru/py_install_ru/*.aux
manuals/latex_ru/py_install_ru/*.log
manuals/latex_ru/py_install_ru/*.fdb_latexmk
manuals/latex_ru/py_install_ru/*.fls
manuals/latex_ru/py_install_ru/*.synctex.gz

# venv ignores
my_env/*
!my_env/my_site_root
my_env/my_site_root/*
!my_env/my_site_root/my_site
my_env/my_site_root/my_site/*
!my_env/my_site_root/my_site/settings.py
!my_env/my_site_root/my_site/urls.py
!my_env/my_site_root/my_site/templates/
!my_env/my_site_root/my_site/static/

!my_env/my_site_root/pages
my_env/my_site_root/pages/*
!my_env/my_site_root/pages/urls.py
!my_env/my_site_root/pages/admin.py
!my_env/my_site_root/pages/views.py
!my_env/my_site_root/pages/models.py
!my_env/my_site_root/pages/templates/

!my_env/my_site_root/myApp
my_env/my_site_root/myApp/*
!my_env/my_site_root/myApp/templates/
!my_env/my_site_root/myApp/admin.py
!my_env/my_site_root/myApp/forms.py
!my_env/my_site_root/myApp/models.py
!my_env/my_site_root/myApp/urls.py
!my_env/my_site_root/myApp/views.py
