{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Untitled Doc</title> 
  </head>
  <body>
    <h1>руководства по разработке веб-сайтов с помощью Django</h1>
    <p>это руководства по созданию веб-сайта с использованием django. Обязательно используйте их по порядку, поскольку есть некоторые требования, которые необходимо выполнить, прежде чем начинать новое руководство.</p>
    <h2>Часть 1</h2>
    <ol>
      <li>Создайте учетную запись на pythonAnywhere.com</li>
      <li>установите django</li>
      <li>создаете проект в django</li>
      <li>опубликуйте свой сайт на pythonAnywhere.com</li>
    </ol> 
    <h2>Часть 2</h2>
    <ol>
      <li>добавление модели в проект</li>
      <li>добавление шаблона(templates) в проект</li>
      <li>open an account in pythonAnywhere</li>
    </ol> 
    <h2>Часть 3</h2>
    <ol>
      <li>open an account in pythonAnywhere</li>
      <li>open an account in pythonAnywhere</li>
      <li>open an account in pythonAnywhere</li>
    </ol> 
    {% block content %} 
    <h1>This is from the main app (website)</h1>
    {% endblock content %} 

    {% block prueba %} 

    {% endblock prueba %} 
  </body> 
</html>
